.containerTxt {
    position: relative;
    z-index: 2;
    padding: 20px;
    margin: 2rem 5rem;
    background-color: rgb(255, 255, 0);
    opacity: 80%;
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.containerTxt h1,
.containerTxt div {
    border: 5px solid green;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
}

