.containerTxt {
    /* position: relative; */
    z-index: 2;
    padding: 20px;
    margin: 2rem auto;
    background-color: rgba(243, 197, 175, 0.85);
    opacity: 100%;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: clamp(5rem, 70vw, 50rem);
}

.containerTxt h1,
.containerTxt div {
    border: 5px solid green;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
}

